@import './base.css';

/* Ajuste global para que #app ocupe todo el ancho y no tenga limitaciones ni grid */
#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Enlaces personalizados */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Hover para enlaces */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
